<select (change)="sort($event.target.value)">
  <option [value]=""></option>
  <option [value]="'set_id|1'">Set ID - Ascending</option>
  <option [value]="'set_id|-1'">Set ID - Descending</option>
  <option [value]="'name|1'">Name- Ascending</option>
  <option [value]="'name|-1'">Name- Descending</option>
</select>

<input type="text" name="search" (keyup)="search($event.target.value)" />
<button type="button"> Create </button>
<div>
  <table>
    <tr rowspan="2">
      <td rowspan="2">
        Set Id
      </td>
      <td rowspan="2">
        Name
      </td>
      <td rowspan="2">
        Status
      </td>
      <td colspan="6">
        Documents
      </td>
    </tr>
    <tr>
      <span> Document Id</span>
      <span> Document name</span>
      <span> status</span>
      <span> uploader</span>
      <span> Preview URL</span>
      <span> Date Uploaded</span>
    </tr>
    <tr *ngFor="let data of dashboardJson; let i of index">
      <td>
        {{ data['set_id'] }}
      </td>
      <td>
        {{ data['name'] }}
      </td>
      <td>
        {{ data['status'] }}
      </td>
      <div *ngFor="let data of data['documents']">
      <td>
        {{ data['doc_id'] }}
      </td>
      <td>
        {{ data['name'] }}
      </td>
      <td>
        {{ data['status'] }}
      </td>
        <td>
          {{ data['uploader'] }}
        </td>
        <td>
          {{ data['preview_url'] }}
        </td>
        <td>
          {{ data['date_uploaded'] }}
        </td>
      </div>
    </tr>
    <td> edit</td>
  </table>
</div>
<div>
  <a> previous </a>
  <a> next </a>
</div>
